body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    input:focus,
    button:focus{
        outline: none;
    }
}

// Scroll option
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top,#ff8a00,#da1b60);; 
    border-radius: 5px;
}

.container-fluid{
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg");
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.button{
    background: linear-gradient(to left,#ff8a00,#da1b60);
    border: none;
    border-radius: 10px;
    color: #fff;
    margin: 5px 0;
    transition: .5s;
    &:hover{
        box-shadow: 0px 0px 10px 2px #F44336;
    }
}


table{
    thead{
        background-image: linear-gradient(to left, #ff8a00, #da1b60);
        color: #fff;
    }
    tbody{
        background: #ece8e8bd;
        td{
            border-top: 1px solid #FF5722;
        }
    }
}

.navbar{
    margin: 0;
    border-radius: 0;
    border: none;
    background-image: linear-gradient(to left,#ff8a00,#da1b60);
    color: #fff;
    .navbar-brand{
        color: #fff;
    }
    .collapse{
        li a{
            color: #fff;
            cursor: pointer;
        }
    }
    .active{
        color: red !important;
    }
}

.container{
    margin-top: 56px;
    color: #eb5a29;
    font-size: 16px;
    height: 80vh;
    .title{
        display: block;
        text-align: center;
        padding: 25px;
        font-weight: bolder;
    }    
    
}

//  Home page css
.home{
    h1{
        display: block;
        text-align: center;
    }
    .box{
        width: 500px;
        background-image: linear-gradient(to top,#ff8a00,#da1b60);
        text-align: center;
        color: #fff;
        padding: 30px;
        margin: auto;
        font-family: arial, sans-serif;
        border-radius: 15px;
        transition: 1s;
        &:hover{
            box-shadow: 2px 1px 15px #FF5722;
        }
        .box-img{
            width: 200px;
            height: 200px;
            border-radius: 25px;
            box-shadow: -4px 3px 12px 1px #000000b0;
        }
        h1{
            font-size: 40px;
            font-weight: 100;
            letter-spacing: 4px;
            padding: 10px 0;
        }
        h5{
            font-size: 18px;
            letter-spacing: .5px;
            text-align: justify;
        }
        p{
            text-align: justify;
        }
        .span{
            display: block;
            border-top: 3px dotted #fff;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            padding: 10px;
        }
        ul{
            margin: 0;
            padding: 0;
            margin-bottom: -20px;
            li{
                display: inline-block;
                margin: 6px;
                list-style: none;
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 60px;
                    transition: all ease-in-out 0.5s;
                    &:hover{
                        color: #F44336;
                    }
                }
            }
        }
        // Skill bar
        .skillbar {
            position:relative;
            display:block;
            margin-bottom:15px;
            width:100%;
            background:#eee;
            height:35px;
            border-radius:3px;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            -webkit-transition:0.4s linear;
            -moz-transition:0.4s linear;
            -ms-transition:0.4s linear;
            -o-transition:0.4s linear;
            transition:0.4s linear;
            -webkit-transition-property:width, background-color;
            -moz-transition-property:width, background-color;
            -ms-transition-property:width, background-color;
            -o-transition-property:width, background-color;
            transition-property:width, background-color;
            .skillbar-title {
                position:absolute;
                top:0;
                left:0;
                width:20%;
                font-weight:bold;
                font-size:13px;
                color:#ffffff;
                -webkit-border-top-left-radius:3px;
                -webkit-border-bottom-left-radius:4px;
                -moz-border-radius-topleft:3px;
                -moz-border-radius-bottomleft:3px;
                border-top-left-radius:3px;
                border-bottom-left-radius:3px;
                span {
                    display:block;
                    padding:0 20px;
                    height:35px;
                    line-height:35px;
                    -webkit-border-top-left-radius:3px;
                    -webkit-border-bottom-left-radius:3px;
                    -moz-border-radius-topleft:3px;
                    -moz-border-radius-bottomleft:3px;
                    border-top-left-radius:3px;
                    border-bottom-left-radius:3px;
                }
            }
            .skillbar-bar {
                height:35px;
                width: 0;
                background:#6adcfa;
                border-radius:3px;
                -moz-border-radius:3px;
                -webkit-border-radius:3px;
            }
            .skill-bar-percent {
                position:absolute;
                right:10px;
                top:0;
                font-size: 13px;
                height:35px;
                line-height:35px;
                color:#ffffff;
                color:rgba(0, 0, 0, 0.4);
            }                
        }
    }
}

//  Calculator page css
.calculator{
    width: 350px;
    background: linear-gradient(to top left,#ff8a00,#da1b60);
    padding: 30px;
    border-radius: 5px;
    box-shadow: -4px -2px 9px 1px #9E9E9E;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    input{
        width: 100%;
        height: 40px;
        background: #6c757d80;
        border: 1px solid tomato;
        margin: 5px 0;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        &::placeholder{
            color: #FF9800;
        }
    }
    .box-button{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 8px;
        button{
            height: 35px;
            cursor: pointer;
            border: none;
            border-radius: 3px;
            color: #fff;
            box-shadow: -1px 1px 3px #0000008c;
            &:hover{
                background: #FF5722;
                transition: .2s;
            }
        }
        .clean{
            background: #ffc107;
        }
        .delete{
            background: tomato;
        }
        .cal{
            background: #03A9F4;
        }
        .number{
            background: #9E9E9E;
        }
        .equal{
            background: #9C27B0;
        }
    }
}

// Profile page css
.profile{
    form{
        div{
            padding: 10px 0;
            label{
                width: 100%;
            }
            input{
                width: 100%;
                height: 35px;
                border: 1px solid #eb5a29;
                border-radius: 30px;
                background: #9e9e9e2e;
                padding: 0 10px;
                color: #eb5a29;
            }
            input[type="radio"]{
                width: 30px;
                height: 15px;
            }
        }
        .wrap{
            .button{
                width: 100%;
                height: 40px;
            }
        }
    }
}

// Lottery page css
.lottery{
    h3{
        display: block;
        text-align: center;
        border-top: 3px dotted;
        padding: 10px;
        margin: 15px 0;
    }
}

@media screen and (min-width: 768px){
    .calculator{
        width: 400px;
    }
    .profile{
        form div{
            label{
                width: 30%;
            }
            input{
                width: 70%;
            }
        }
        .wrap {
            text-align: center;
            .button{
                width: 200px !important;
                margin: 0 20px;
            }
        }
    }
}

// #particles-js{
//     background-image: url('https://cdn-images-1.medium.com/max/1600/1*6gI54rfOUl-uZ-o_HAgm4Q.jpeg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: 50%;
//     height: 100vh;
//     position: relative;
//     margin-top: 70px;
//     canvas{
//         position: absolute;
//         top: 0;
//     }
//     .container{
//         z-index: 10;
//         color: #fff;
//     }
// }

