body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    input:focus,
    button:focus{
        outline: none;
    }
}

.container-fluid{
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg");
    height: 100vh;
}

.navbar{
    margin: 0;
    border-radius: 0;
    border: none;
    background-image: linear-gradient(to left,#ff8a00,#da1b60);
    color: #fff;
    .navbar-brand{
        color: #fff;
    }
    .collapse{
        li a{
            color: #fff;
            cursor: pointer;
        }
    }
    .active{
        color: red !important;
    }
}

.container{
    margin-top: 70px;
    color: #eb5a29;
    font-size: 16px;
    height: 80vh;
    .title{
        display: block;
        text-align: center;
        padding: 25px;
        font-weight: bolder;
    }
    //  Home page css
    .home{
        h1{
            display: block;
            text-align: center;
        }
    }

    //  Calculator page css
    .calculator{
        max-width: 400px;
        background: linear-gradient(to top left,#ff8a00,#da1b60);
        padding: 30px;
        border-radius: 5px;
        box-shadow: -4px -2px 9px 1px #9E9E9E;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        input{
            width: 100%;
            height: 40px;
            background: #6c757d80;
            border: 1px solid tomato;
            margin: 5px 0;
            padding: 5px;
            border-radius: 5px;
            color: #fff;
            &::placeholder{
                color: #FF9800;
            }
        }
        .box-button{
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 5px;
            grid-row-gap: 8px;
            button{
                height: 35px;
                cursor: pointer;
                border: none;
                border-radius: 3px;
                color: #fff;
                box-shadow: -1px 1px 3px #0000008c;
                &:hover{
                    filter: contrast(200%);
                    transition: .2s;
                }
                &:active{
                    filter: contrast(10%);
                    transition: .2s;
                }
            }
            .clean{
                background: #ffc107;
            }
            .delete{
                background: tomato;
            }
            .cal{
                background: #03A9F4;
            }
            .number{
                background: #9E9E9E;
            }
            .equal{
                background: #9C27B0;
            }
        }
    }
}

// #particles-js{
//     background-image: url('https://cdn-images-1.medium.com/max/1600/1*6gI54rfOUl-uZ-o_HAgm4Q.jpeg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: 50%;
//     height: 100vh;
//     position: relative;
//     margin-top: 70px;
//     canvas{
//         position: absolute;
//         top: 0;
//     }
//     .container{
//         z-index: 10;
//         color: #fff;
//     }
// }

